.logo img {
  padding: 1rem;
  background-color: var(--Grey-800);
  border-radius: 50%;
}

.text-title {
  color: var(--White);
}

.rating-options {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  user-select: none;
}

.rating-options .submit {
  padding: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  border-radius: 100px;
  border: none;
  background-color: var(--Orange-500);
  cursor: pointer;
}

.rating-options .submit:active {
  background-color: var(--White);
}

.rating-options fieldset {
  display: flex;
  justify-content: space-between;
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.rating-options label {
  border-radius: 50%;
  aspect-ratio: 1;
  width: 3rem;
  border: none;
  background-color: var(--Grey-800);
  color: var(--Grey-500);
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
  transition: outline 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-options label:hover {
  background-color: var(--Orange-500);
  color: var(--Grey-800);
}

.rating-options [type="radio"]:focus-visible + label {
  outline: 2px solid var(--Orange-500);
}

.rating-options .active + label {
  background-color: var(--White);
  color: var(--Grey-800);
}

.rating-options .error + label {
  outline: 2px solid orangered;
}
